{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header -->
<header id="header">
  <a href="#" class="title">Economics Assignment</a>
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Plots</a></li>
      <li><a href="{% url 'survey' %}">Add Survey</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}"> log out</a></li>
      {% else %}
      <li><a href="{% url 'login' %}"> log in</a></li>
      {% endif %}
    </ul>
  </nav>
</header>

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <section id="main" class="wrapper">
    <div class="inner">
      <section>
	<h2>Something went wrong, contact the developer.</h2>
      </section>

    </div>
  </section>

</div>
{% endblock content %}
