{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header -->
<header id="header">
  <a href="#" class="title">Economics Assignment</a>
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Plots</a></li>
      <li><a href="{% url 'survey' %}" class="active">Add Survey</a></li>
      <li><a href="{% url 'logout' %}">Log out</a></li>
    </ul>
  </nav>
</header>

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <section id="main" class="wrapper">
    <div class="inner">
      <h1 class="major">Household Member Add form</h1>

      <!-- Form -->
      <section>
	<form method="post" action="#">
	  <div class="row gtr-uniform">
	    <div class="col-12">
	      {{form}}
	      <br><br>
	      <ul class="actions">
		<li><input type="submit" value="Add member" class="primary"></li>
		<li><input type="reset" value="Reset"></li>
	      </ul>
	    </div>
	  </div>
	</form>
      </section>

    </div>
  </section>

</div>
{% endblock content %}
